@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Mono");

body {
    background-color: #121212; /* The correct dark shade */
    color: rgba(222, 222, 222, 1.00); /* Off-white text */
    margin: 2em 10%; /* Keeps it from hitting the very edge of the screen */
    font-family: "IBM Plex Mono", monospace; /* Use the Mono font for that raw look */
    line-height: 1.6; /* Makes the raw text easier to read */
}

a {
    color: rgba(106, 152, 175, 1.00);
}
    
a:visited {
    color: rgba(166, 121, 210, 1.00);
}

/* Remove these if they are still in your file to ensure no boxes appear */
.theblueguy {
    background-color: transparent; 
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36pt;
    line-height: 1em;
}

h2, h3 {
    padding-top: 21px;
    font-size: 15pt;
    line-height: 1.5em;
    text-align: left;
}

hr {
    border: 1px gray solid;
}

.text {
    text-align: justify;
    font-size: 12pt;
    line-height: 1.5em;
}

ul {
    padding-right: 1em;
}

.towerofpisa {
    font-style: italic;
}

.titanic {
    float: none;
}

.bold {
    font-weight: bold;
}

#bottom, figcaption {
    font-size: 9pt;
    /* font-style: oblique;
    color: dimgray; */
    text-align: left;
}

#bottom {
    margin-top: 3em;
    font-style: normal;
}

.pre, pre, code {
    font-family: "IBM Plex Mono", monospace;
}

nav ul li {
    padding: .5em;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    body {
        left: 0;
        right: 0;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 24pt;
        text-align: center;
    }
    h2, h3 {
        font-size: 12pt;
    }
    .text {
        font-size: 9pt;
    }
    #bottom, .ad {
        font-size: 8pt;
    }
}
